img.d-block.w-100 {

    padding-top: 65px;
    max-width: 1024px;
    margin: auto;
    box-shadow: 5px 5px 5x 5px rgba(219, 219, 219, 0.5);

}

.button-position {

    position: relative;
    bottom: 0px;

}

.btn.btn-light {
    background-color: 
    #dbdbdb;
}

@media only screen and (min-width: 600px) {

    .critic-reviews.card.py-0{
        max-height: 800px;
    }  

}