img.d-block.w-100{
    padding-top: 65px;
    max-width: 1024px;
    margin: auto;
    box-shadow: 5px 5px 5x 5px rgba(219, 219, 219, 0.5);
}

.critic-reviews-body{
    background: rgba(196, 196, 196, 0.95);
    padding-top: 175px;
    padding-bottom: 100px;
    margin-top: 375px;
}

@media only screen and (min-width: 750px) {
    .card-body{
        height: 600px;
    }   
    .critic-reviews{
        margin: 10px;
    }
}

@media only screen and (min-width: 600px) {
    .critic-reviews.card.py-0{
        max-height: 800px;
    }   
}