.edit-form-text {
    text-align: left;
    padding-top: 125px;
    color: rgb(255, 255, 255);
}

#edit-review-form, h4.modal-title.w-100.font-weight-bold {
    background: rgba(33, 34, 33, 0.719);
    padding: 20px;
}

body {
    background-color: #808080;
}