body {

        background: url(../images/h2r-background.jpg) no-repeat center left fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: 'Oswald', sans-serif;

}

.custom-jumbotron {

    margin-top: 260px;
    background-color: #fdfdfdc9;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.388);

}
/*--------------------------------------------Reviews*/

.reviews-headhing {

    text-align: center;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.199);
    font-size: 3em;
    padding-bottom: 20px;
    font-family: 'Oswald', sans-serif;

}

.reviews-body {
    
    background: rgba(196, 196, 196, 0.95);
    padding-top: 40px;
    padding-bottom: 100px;
    margin-top: 275px;
    box-shadow: 0 10px 40px rgb(0, 0, 0);

}

/*--------------------------------------------Navbar Section*/

.navbar-scroll {
    background-color: transparent;
}

.scrolled {
    background-color: #222425c0;
}

/*--------------------------------------------Footer Section*/

.footer-icons {
    font-size: 2.7em;
    color: rgba(224, 87, 8, 0.82);
}

.footer-text {
    text-align: center;
    padding-top: 125px;
    color: rgba(224, 87, 8, 0.82);
}

footer {
    background-color: #222425;
    height: 225px;
    margin-top: 200px;
}

/*--------------------------------------------Modal Form*/
.modal-content {
    background-color: #222425f5;
    color: white;
}

button.btn.btn-danger {
    background-color: rgba(224, 87, 8, 0.82);
}

/*--------------------------------------------Media Queries*/

@media only screen and (min-width: 700px) {

    body {

        background: url(../images/h2r-background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }

}

@media only screen and (min-width: 750px) {

    .card-body {
        height: 440px;
    } 

    .critic-reviews {
        margin: 10px;
    }

    .button-position {
        position: relative;
        bottom: -10px;
    }

    .text-scroll {
        overflow: scroll;
    }

}
