body {
        background: url(https://i.pinimg.com/originals/d5/e4/ab/d5e4ab2bf184775c091c0ae7747e4d53.jpg) no-repeat center left fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

.custom-jumbotron{
    margin-top: 375px;
    background-color: #ffededc9;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.388);
}

/*--------------------------------------------Navbar Section*/

nav{
    background-color: transparent;
}


/*--------------------------------------------Footer Section*/

.footer-icons{
    font-size: 2.7em;
    color: rgba(224, 87, 8, 0.82);
}

.footer-text{
    text-align: center;
    padding-top: 125px;
    color: rgba(224, 87, 8, 0.82);
}

footer{
    background-color: #222425;
    height: 225px;
    margin-top: 200px;
}

/*--------------------------------------------Modal Form*/
.modal-content{
    background-color: #222425f5;
    color: white;
}

button.btn.btn-danger{
    background-color: rgba(224, 87, 8, 0.82);
}

/*--------------------------------------------Media Queries*/

@media only screen and (min-width: 700px) {
    body {
        background: url(https://i.pinimg.com/originals/d5/e4/ab/d5e4ab2bf184775c091c0ae7747e4d53.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}