.user-reviews{
    margin-top: 300px;
}

.user-cards{
    margin: 10px;
}

#delete-review{
    background: rgba(224, 87, 8, 0.82);
}

#edit-review{
    background: #222425;
    color: rgb(255, 255, 255);
}

@media only screen and (min-width: 600px) {
    .card.py-0{
        max-height: 750px;
    }
}