{% extends 'base.html' %} {% block content %}


<article class="critic-reviews-body">
 <h3 class="reviews-headhing">Critic Reviews</h3>
	<div class="container">
		<div class="row">
{% for review in siteReview %}

			<div class="col-sm-12 col-md-6 col-lg-4 px-0">
				<div class="critic-reviews card py-0">
					<img src="{{review.image}}"
                    class="card-img-top" alt="motorcycles">
					<div class="card-body">
						<h5 class="card-title">Model: {{review.model}}</h5>
						<p>Overall Rating: {{review.overallRating}}</p>
						<p>Engine Size: {{review.engineSize}}</p>
						<p>Power: {{review.power}}</p>
						<p>Price: {{review.price}}</p>
						<p>Insurance Group: {{review.insuranceGroup}}</p>
						<p>Seat Height: {{review.seatHeight}}</p>

						<p class="card-text">Not sure which bike you're looking for? choose below.</p>
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					        Choose a bike
					    </button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{{ url_for('h2r_model')}}">Ninja H2R 1000</a>
							<a class="dropdown-item" href="{{ url_for('vulcan_model')}}">Vulcan 650</a>
							<a class="dropdown-item" href="{{ url_for('zxr_model')}}">Ninja 600</a>
						</div>
					</div>
				</div>
			</div>
		
{% endfor %}

</div>
	</div>
</article>

{% endblock %}
