{% extends 'base.html' %} {% block content %}


<article class="reviews-body">
 <h3 class="reviews-headhing">CRITIC REVIEWS</h3>
	<div class="container">
		<div class="row">
{% for review in siteReview %}

			<div class="col-sm-12 col-md-6 col-lg-4 px-0">
				<div class="critic-reviews card py-0">
					<img src="{{review.image}}"
                    class="card-img-top" alt="motorcycles">
					<div class="card-body">
						<h5 class="card-title">Model: {{review.model}}</h5>
						<p>Overall Rating: {{review.overallRating}}</p>
						<p>Engine Size: {{review.engineSize}}</p>
						<p>Power: {{review.power}}</p>
						<p>Price: {{review.price}}</p>
						<p>Insurance Group: {{review.insuranceGroup}}</p>
						<p>Seat Height: {{review.seatHeight}}</p>

						<p class="card-text">Want to view more details?</p>
						<a href="{{ url_for('show_more', review_id=review._id)}}">
                            <button type="button" class="btn btn-secondary button-position">See more</button>
						</a>
					</div>
				</div>
			</div>
		
{% endfor %}

</div>
	</div>
</article>

{% endblock %}
