{% extends 'base.html' %} {% block filtered %}

{% for review in siteReview %}



<div class="card">
  <img src="{{review.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Model: {{review.model}}</h5>
    <p>Overall Rating: {{review.overallRating}}</p>
    <p>Engine Size: {{review.engineSize}}</p>
    <p>Power: {{review.power}}</p>
    <p>Price: {{review.price}}</p>
    <p>Insurance Group: {{review.insuranceGroup}}</p>
    <p>Seat Height: {{review.seatHeight}}</p>


{% endfor %}

{% endblock %}