{% extends 'base.html' %} {% block filtered %}

{% for review in siteReview %}

<div class="card" style="width: 100vw">
  <img src="https://www.wallpaperup.com/uploads/wallpapers/2013/04/26/78787/34dfbaf4bd1cbca72626c5a11acb3596-700.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Model: {{review.model}}</h5>
    <p>Overall Rating: {{review.overallRating}}</p>
    <p>Engine Size: {{review.engineSize}}</p>
    <p>Power: {{review.power}}</p>
    <p>Price: {{review.price}}</p>
    <p>Insurance Group: {{review.insuranceGroup}}</p>
    <p>Seat Height: {{review.seatHeight}}</p>

    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose a bike
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{ url_for('h2r_model')}}">Ninja H2R 1000</a>
        <a class="dropdown-item" href="{{ url_for('vulcan_model')}}">Vulcan 650</a>
        <a class="dropdown-item" href="{{ url_for('zxr_model')}}">Ninja 600</a>
    </div>

{% endfor %}

{% endblock %}