{% extends 'base.html' %} {% block content %}

<!--User reviews-->
<article class="user-reviews reviews-body">
    <h3 class="reviews-headhing">USER REVIEWS</h3>
	<div class="container">
		<div class="row">

{% for reviews in userReview %}

			<div class="col-sm-12 col-md-6 col-lg-4 px-0">
				<div class="user-cards card py-0">
					<img src="{{reviews.image}}"
                    class="card-img-top" alt="motorcycles">
					<div class="card-body">
						<h5 class="card-title">Model: {{reviews.model_select}}</h5>
                        <p>Reviewed by: {{reviews.name}}</p>
						<p>Overall Rating: {{reviews.overall_rating}}</p>
						<p>Ride quality & brakes: {{reviews.ride_quality_and_brakes}}</p>
						<p>Engine: {{reviews.engine}}</p>
						<p>Build quality & reliability: {{reviews.build_quality_and_reliability}}</p>
                        <p>Running costs and value: {{reviews.running_costs_and_value}}</p>
                        <p>Review summary: {{reviews.review_summary}}</p>

                        <a class="btn btn-light edit-review" href="{{url_for('edit_review', review_id=reviews._id)}}">Edit</a>
                        <a class="btn btn-light delete-review" href="{{url_for('remove_review', review_id=reviews._id)}}">Delete</a>
					</div>
				</div>
			</div>

{% endfor %}

</div>
	</div>
</article>


{% endblock %}
